.fishing-container ul {
    display: flex;
    justify-content: space-around;
}

.fishing-container ul li {
    border-radius: 0.35rem;
    display: block;
    max-width: 30%;
    transition: box-shadow 0.3s ease-in;
}

.fishing-container ul li:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.fishing-container .fishing-box h4,
.fishing-container .fishing-box p {
    padding: 1rem; 
    text-align: center;
}

.fishing-container .fishing-box a {
    display: block;
    text-align: center;
    padding-bottom: 1rem; 
    color: #000000;
    text-decoration: none;
}

.fishing-container .fishing-box a:hover {
    text-decoration: underline;
}

.site-news ul {
    margin-top: 3rem; 
    display: flex;
    flex-direction: column;
}

.site-news ul h2 {
    text-align: center;
    margin-bottom: 1.5rem; 
}

.site-news li {
    display: flex;
    border-top: 1px solid #999999;
    padding: 1rem;
}

.site-news .img-box {
    height: auto;
    transition: transform .6s ease;
}

.site-news img {
    border-radius: 3%;
    width: 20rem;
}

.site-news div:hover { transform: scale(1.4); }

.site-news .news-info {
    display: flex;
    flex-direction: column;
    margin: 1rem; 
    margin-top: 0; 
}

.site-news .news-info * {
    padding: 0.2rem;
}

.site-news .news-info a {
    margin-top: 1.7rem; 
    display: block;
    text-decoration: none;
    color: #000000;
}

.site-news .news-info a:hover {
    text-decoration: underline;
}