@import url("./site-typography.css");
@import url("./navigation.css");
@import url("./indexStyles.css");

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    background: #F2F8FD;
}

.site {
    margin: 0 auto;
    max-width: 60rem;
}

.site-header,
.site-footer,
.site-logo a,
.site-footer a {
    color: #FFFFFF;
}

.site-header {
    margin-top: 0.5rem; 
    display: flex;
    height: 15rem;
    background: url('../images/header-image-hq.jpg') no-repeat center;
    background-size: cover;
    border-radius: 1.8rem;
    border-bottom-left-radius: 1.2rem;
    border-bottom-right-radius: 1.2rem;
}

.site-logo {
    margin: 0.8rem 0 0 0.8rem;
    font-size: 1.6rem;
    border-radius: 0.35rem;
    max-width: 68%;
    text-align: center;
    transition: box-shadow 0.3s ease-in-out;
}

.site-logo:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2), inset 0 0 6px rgba(255, 255, 255, 0.6);
}

.site-logo a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.1rem;
}

.header-info blockquote {
    font-size: 1.05em;
    margin-top: 7rem; 
    margin-left: 2rem;
    max-width: 50%;
}

.header-info blockquote cite {
    display: block;
    text-align: right;
}

.site-main {
    min-height: 64vh;
    padding: 2rem;
}

.site-footer {
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: 2.5rem;
    background: url('../images/footer-image.jpg') no-repeat center;
    background-size: cover;
    border-radius: 1.2rem;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5rem;
    font-size: 1.1rem;
}

.site-footer a { text-decoration: none; }





