@import url("https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap");
@import url("https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap");
@media (max-width: 1600px) {
  .site {
    font-size: 18px; } }

@media (max-width: 1024px) {
  .site {
    font-size: 16px; } }

@media (max-width: 960px) {
  .site {
    font-size: 15px; } }

@media (max-width: 768px) {
  .site {
    font-size: 14px; } }

@media (max-width: 640px) {
  .site {
    font-size: 13px; } }

@media (max-width: 480px) {
  .site {
    font-size: 11px; } }

@media (max-width: 320px) {
  .site {
    font-size: 10px; } }

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-family: 'Roboto Slab', serif;
  box-sizing: border-box;
  background: #DDDDDD; }

.site {
  margin: 1em auto;
  max-width: 60em; }

.site-header * {
  color: #FFFFFF; }

.site-header {
  box-shadow: 0 0 0.8em #000000;
  display: flex;
  height: 15rem;
  margin-top: 0.5rem;
  background: url("../images/header-gif2.gif") no-repeat center;
  background-size: cover;
  border-radius: 1.2em; }

.site-logo {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.6);
  margin: 1em 0 0 1em;
  border-radius: 0.35rem;
  transition: box-shadow 0.3s ease-in-out; }
  @media (max-width: 640px) {
    .site-logo {
      max-width: 16em; } }
  .site-logo:hover {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2), inset 0 0 6px rgba(255, 255, 255, 0.6); }
  .site-logo a {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.9em;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 0.2em 0.5em; }

.site .header-info blockquote {
  font-size: 1em;
  margin: 3.2em 1em;
  max-width: 15em; }
  @media (max-width: 640px) {
    .site .header-info blockquote {
      margin-top: 5em; } }
  .site .header-info blockquote p {
    font-style: italic; }
  .site .header-info blockquote cite {
    padding-top: 0.5rem;
    display: block;
    text-align: right; }

.site-nav {
  margin: 1em 0 0 2em; }
  .site-nav ul {
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.6);
    border-radius: 0.35em;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 768px) {
      .site-nav ul {
        max-width: 18.5em; } }
    @media (max-width: 480px) {
      .site-nav ul {
        flex-direction: column; } }
    .site-nav ul li {
      list-style-type: none;
      text-align: center; }
      .site-nav ul li a {
        padding: 0.6em;
        text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
        font-size: 1.2em;
        text-decoration: none;
        display: block;
        position: relative;
        transition: box-shadow 0.3s ease-in-out; }
        .site-nav ul li a::after {
          bottom: 0;
          content: "";
          display: block;
          height: 2.5px;
          left: 50%;
          position: absolute;
          background: #FFFFFF;
          transition: width 0.3s ease 0s, left 0.3s ease 0s;
          width: 0; }
        .site-nav ul li a:hover {
          box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.6);
          border-radius: 0.35em; }
        .site-nav ul li a:hover::after {
          width: 100%;
          left: 0; }

.products-banner {
  margin: 2em 0.3em; }
  .products-banner div {
    background: url("https://mackenzienz.com/wp-content/uploads/2015/09/Fishing-PAge-BAnner.jpg") no-repeat top;
    background-size: cover;
    height: 13em;
    border-radius: 1.2em;
    opacity: 0.85;
    transition: opacity 0.3s ease-in; }
    .products-banner div:hover {
      opacity: 1; }
  .products-banner a {
    text-decoration: none; }
    .products-banner a p {
      color: #FFFFFF;
      text-align: right;
      font-size: 1.8em;
      padding: 1em 0;
      max-width: 95%;
      letter-spacing: 1.2px; }

.fishing-container {
  margin-top: 1em; }
  .fishing-container ul {
    border-radius: 0.8em;
    background: lightgray;
    display: flex;
    justify-content: space-between; }
    @media (max-width: 480px) {
      .fishing-container ul {
        flex-direction: column; } }
    .fishing-container ul li {
      margin: 1.2em auto;
      border-radius: 0.8em;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
      list-style-type: none;
      max-width: 30%;
      transition: box-shadow 0.3s ease-in; }
      @media (max-width: 480px) {
        .fishing-container ul li {
          max-width: 90%; } }
      .fishing-container ul li:hover {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 9px rgba(255, 255, 255, 0.6); }
  .fishing-container .fishing-box h4,
  .fishing-container .fishing-box p {
    padding: 1em;
    text-align: center; }
  .fishing-container .fishing-box a {
    display: block;
    text-align: center;
    padding-bottom: 1.2em;
    color: #000000; }

.site-news {
  margin: 2em; }
  .site-news ul {
    display: flex;
    flex-direction: column; }
    .site-news ul h2 {
      text-align: center;
      margin-bottom: 1.5rem; }
    .site-news ul li {
      display: flex;
      border-top: 1px solid #999999;
      padding: 1rem; }
      @media (max-width: 768px) {
        .site-news ul li {
          flex-direction: column; } }
  .site-news .img-box {
    height: auto;
    margin: 0 auto;
    transition: transform .6s ease; }
    .site-news .img-box img {
      border-radius: 0.8em;
      width: 20em;
      height: auto; }
  .site-news div:hover {
    transform: scale(1.4); }
  .site-news .news-info {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    margin-top: 0; }
    @media (max-width: 768px) {
      .site-news .news-info {
        padding-top: 1em;
        max-width: 95%; } }
    .site-news .news-info * {
      padding: 0.2em; }
    .site-news .news-info a {
      margin-top: 1.7em;
      display: block;
      text-decoration: none;
      color: #000000; }
      .site-news .news-info a:hover {
        text-decoration: underline; }
    .site-news .news-info::nth-child(2) {
      color: #383838;
      font-style: italic; }

.fishing-info h3 {
  margin: 1em 0;
  text-align: center;
  font-size: 1.4em; }

.fishing-info ul {
  background: lightgray;
  border-radius: 0.8em;
  display: flex;
  flex-direction: column;
  align-content: center; }
  .fishing-info ul li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    text-align: center; }
    .fishing-info ul li p {
      margin: 1em;
      padding: 0 3.5em; }
  .fishing-info ul h5 {
    margin: 1em 0 2em 0;
    font-size: 1em; }

.fishing-info .img-container {
  max-width: 40em;
  padding: 0.5em 2em;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.8em; }
  .fishing-info .img-container img {
    border-radius: 0.8em;
    width: 100%;
    height: auto;
    transition: transform .6s ease; }
    .fishing-info .img-container img:hover {
      transform: scale(1.2); }

.blog {
  padding: 1em;
  margin-top: 1em;
  background: lightgray;
  border-radius: 0.8em; }
  .blog-title {
    text-align: center;
    margin: 1em; }
  .blog p {
    padding: 1em 0;
    max-width: 80%;
    margin: 0 auto; }
  .blog h6, .blog h5 {
    font-size: 1em;
    padding: 1em;
    text-align: center; }
  .blog .img-box {
    max-width: 80%;
    margin: 0 auto; }
    .blog .img-box img {
      width: 100%;
      height: auto;
      border-radius: 0.8em; }

.site-footer {
  box-shadow: 0 0 0.8em #000000;
  margin-top: 2em;
  padding: 0.5em;
  height: auto;
  background: url("../images/header-gif2.gif") no-repeat center;
  background-size: cover;
  border-radius: 1.2em; }
  .site-footer .social-medias ul {
    margin: 0 auto;
    max-width: 10em;
    display: flex;
    justify-content: space-around; }
    .site-footer .social-medias ul li {
      list-style-type: none; }
      .site-footer .social-medias ul li i {
        color: #FFFFFF; }
      .site-footer .social-medias ul li:nth-child(1) i:hover {
        color: #3b5998; }
      .site-footer .social-medias ul li:nth-child(2) i:hover {
        color: #00acee; }
      .site-footer .social-medias ul li:nth-child(3) i:hover {
        color: #3f729b; }
      .site-footer .social-medias ul li:nth-child(4) i:hover {
        color: #665cac; }
      .site-footer .social-medias ul li:nth-child(5) i:hover {
        color: #0077B5; }
  .site-footer .rights-reserved {
    margin-top: 1em;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 0.9em; }

.site-main {
  min-height: 64vh;
  padding: 0.8em 0.5em; }

.gal-header {
  text-align: center;
  margin: 1em; }

.gallery {
  border-radius: 0.8em;
  background: lightgray;
  padding: 2.5rem 1.4rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
  grid-auto-flow: dense; }
  @media (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(3, 1fr); } }
  @media (max-width: 640px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); } }
  .gallery img {
    width: 100%;
    transition: transform .6s ease; }
    .gallery img:hover {
      transform: scale(1.2); }
  .gallery li {
    list-style: none outside;
    position: relative;
    overflow: hidden;
    grid-column: span 3;
    border-radius: 0.3rem; }
    .gallery li:before {
      display: block;
      content: '';
      padding-top: 50%; }
    .gallery li a {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
  .gallery li.portrait {
    grid-column: span 1;
    grid-row: span 2; }
    .gallery li.portrait a {
      display: flex; }
    .gallery li.portrait::before {
      padding-top: 200%; }
  .gallery li.small {
    grid-column: span 1;
    grid-row: span 1; }
    .gallery li.small::before {
      padding-top: 100%; }
  .gallery li.small img,
  .gallery li.portrait img {
    width: auto;
    height: 100%; }

.fishing-tips {
  margin: 1em;
  background: lightgray;
  border-radius: 0.8em; }
  .fishing-tips h3 {
    font-size: 1.4em;
    padding: 1em;
    text-align: center; }
  .fishing-tips ul {
    display: flex;
    flex-wrap: wrap; }
    @media (max-width: 480px) {
      .fishing-tips ul {
        flex-direction: column; } }
  .fishing-tips li {
    padding-left: 2em;
    margin: 1em;
    display: block;
    max-width: 43%; }
    @media (max-width: 480px) {
      .fishing-tips li {
        max-width: 90%; } }
    .fishing-tips li .img-box {
      overflow: hidden;
      border-radius: 0.8em; }
      .fishing-tips li .img-box img {
        border-radius: 0.8em;
        width: 100%;
        transition: transform .6s ease; }
        .fishing-tips li .img-box img:hover {
          transform: scale(1.2); }
  .fishing-tips .tip-info h4 {
    text-align: center;
    font-size: 1.1em; }
  .fishing-tips .tip-info h4, .fishing-tips .tip-info .date {
    margin: 0.5em 0; }
  .fishing-tips .tip-info .date {
    font-style: italic; }
