.fishing-tips {
    background: $base-container-color;
    border-radius: $base-border-radius;   

    & h3 {
        font-size: 1.4em;
        padding: 1em; 
        text-align: center;
    }

    & ul {
        margin: 0.5em;
        display: flex;
        flex-wrap: wrap;
        
        @include responsive( phone-normal ) {
            flex-direction: column;
        }
    }
    
    & li {
        padding-left: 2em; 
        margin: 1em;
        display: block;
        max-width: 43%;

        @include responsive( phone-normal ) {
            max-width: 90%;
        }

        & .img-box {
            overflow: hidden;
            border-radius: $base-border-radius;

            & img {
                border-radius: $base-border-radius;
                width: 100%;
                transition: transform .6s ease;

                &:hover { transform: scale(1.2); }
            }
        }
    }
    
    & .tip-info {

        & h4 { 
            text-align: center; 
            font-size: 1.1em;
        } 

        & h4, & .date {
            margin: 0.5em 0;
        }

        & .date {
            font-style: italic;
        }
    }
}

.tie-fg-knot {
    padding: 0.5em;
    margin-top: 2em; 
    background: $base-container-color;
    border-radius: $base-border-radius;   

    & h3,
    & h5 {
        font-size: 1.4em;
        padding: 1em 0 0.3em 0; 
        text-align: center;
    }

    & p {
        padding: 0.5em 2em;
    }

    & img {
        display: block;
        margin: 1.3em auto;
        max-width: 80%;
        border-radius: $base-border-radius;
    }
}