.site-footer {
    box-shadow: $base-box-shadow;
    margin-top: 2em; 
    padding: 0.5em;
    height: auto;
    background: url('../images/header-gif2.gif') no-repeat center;
    background-size: cover;
    border-radius: $header-footer-radius;

    & .social-medias ul {
        margin: 0 auto;
        max-width: 10em;
        display: flex;
        justify-content: space-around;
            
        & li {
            list-style-type: none;

            & i { color: $text-color-1; }
            &:nth-child(1) i:hover { color: #3b5998; }
            &:nth-child(2) i:hover { color: #00acee; }
            &:nth-child(3) i:hover { color: #3f729b; }
            &:nth-child(4) i:hover { color: #665cac; }
            &:nth-child(5) i:hover { color: #0077B5; }
        }
    }

    & .rights-reserved {
        margin-top: 1em;
        display: block;
        text-align: center;
        text-decoration: none; 
        color: $text-color-1;
        font-size: 0.9em;
    }
}