.site-footer {
    text-align: center;
    margin-bottom: 1rem;
    padding: 0.5rem;
    height: 2.5rem;
    background: url('../images/header-gif2.gif') no-repeat center;
    background-size: cover;
    border-radius: 1.2rem;
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5rem;
    font-size: 1.1rem;
}

.site-footer a { text-decoration: none; }