.site-header {
    & * { color: $text-color-1; }

    box-shadow: $base-box-shadow;
    display: flex;
    max-height: 15rem;
    background: url('../images/header-gif2.gif') no-repeat center;
    background-size: cover;
    border-radius: $header-footer-radius;

    & .site-logo {
        box-shadow: $header-elements-box-shadow;
        margin: 1em 0 0 1em;
        border-radius: $header-elements-border-radius;
        transition: box-shadow 0.3s ease-in-out;
        opacity: 0;
        transform: translateX(-1em);
        transition: opacity 0.3s ease-in, transform 0.3s ease-in-out, box-shadow 0.3s;

        body.loaded & {
            opacity: 1;
            transform: translateX(0);
        }

        @include responsive( tablet-small ) {
            max-width: 16em;
        }
        
        &:hover {
            box-shadow: $logo-box-shadow-hover;
        }

        & a {
            font-family: 'Permanent Marker', cursive;
            font-size: 1.9em;
            display: block;
            text-decoration: none;
            text-align: center;
            padding: 0.2em 0.5em;
        }
    }

    .header-info blockquote {
        font-size: 1em;
        margin: 3.2em 1em;
        max-width: 15em;
        opacity: 0;
        transform: translateX(-1em);
        transition: opacity 0.3s ease-in, transform 0.3s ease-in-out, box-shadow 0.3s;

        body.loaded & {
            opacity: 1;
            transform: translateX(0);
        }

        @include responsive( tablet-small ) {
           margin-top: 5em; 
        }

        & p { font-style: italic; }

        & cite {
            display: block;
            text-align: right;
        }
    }
}
