.site {
    @include responsive( desktop ) {
        font-size: 18px;
    }

    @include responsive( laptop-normal ) {
        font-size: 16px;
    }

    @include responsive( laptop-small ) {
        font-size: 15px;
    }

    @include responsive( tablet-normal ) {
        font-size: 14px;
    }

    @include responsive( tablet-small ) {
        font-size: 13px;
    }

    @include responsive( phone-normal ) {
        font-size: 11px;
    }
    
    @include responsive( phone-small ) {
        font-size: 10px;
    }
}