.site {
    @include responsive( desktop ) {
        font-size: $font-size-desktop;
    }

    @include responsive( laptop-normal ) {
        font-size: $font-size-laptop-normal;
    }

    @include responsive( laptop-small ) {
        font-size: $font-size-laptop-small;
    }

    @include responsive( tablet-normal ) {
        font-size: $font-size-tablet-normal;
    }

    @include responsive( tablet-small ) {
        font-size: $font-size-tablet-small;
    }

    @include responsive( phone-normal ) {
        font-size: $font-size-phone-normal;
    }
    
    @include responsive( phone-small ) {
        font-size: $font-size-phone-small;
    }
}