.site-nav {
    margin: 1em 0 0 2em;

    & ul {
        box-shadow: $header-elements-box-shadow;
        border-radius: $header-elements-border-radius;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        opacity: 0;
        transform: translateX(1em);
        transition: opacity 0.3s ease-in, transform 0.3s ease-in-out;

        body.loaded & {
            opacity: 1;
            transform: translateY(0);
            transform: translateX(0);
        }

        @include responsive( tablet-normal ) {
            max-width: 18.5em;
        }
        @include responsive( phone-normal ) {
            flex-direction: column;
        }
        
        & li {
            list-style-type: none;
            text-align: center;

            & a {
                padding: 0.6em;
                text-shadow: $nav-elements-text-shadow;
                font-size: 1.2em;
                text-decoration: none;
                display: block;
                position: relative;
                transition: box-shadow 0.3s ease-in-out;

                &::after {
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2.5px;
                    left: 50%;
                    position: absolute;
                    background: #FFFFFF;
                    width: 0;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                }

                &:hover {  
                    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.6); 
                    border-radius: 0.35em; 
                }
                
                &:hover::after {
                    width: 100%; 
                    left: 0; 
                }
            }
        }
    }
}
