.site-nav {
    margin: 1em 0 0 2em;

    & ul {
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3), inset 0 0 2px rgba(255, 255, 255, 0.6);
        border-radius: 0.35em;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
       
        @include responsive( tablet-normal ) {
            max-width: 18.5em;
        }
        @include responsive( phone-normal ) {
            flex-direction: column;
        }
        
        & li {
            list-style-type: none;
            text-align: center;

            & a {
                padding: 0.6em;
                text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6);
                font-size: 1.2em;
                text-decoration: none;
                display: block;
                position: relative;
                transition: box-shadow 0.3s ease-in-out;

                &::after {
                    bottom: 0;
                    content: "";
                    display: block;
                    height: 2.5px;
                    left: 50%;
                    position: absolute;
                    background: #FFFFFF;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;
                    width: 0;
                }

                &:hover {  
                    box-shadow:  inset 0 0 6px rgba(255, 255, 255, 0.6); 
                    border-radius: 0.35em; 
                }
                
                &:hover::after {
                    width: 100%; 
                    left: 0; 
                }
            }
        }
    }
}
