.site-main {
    min-height: 64vh;
    margin: 2em 0.5em;
    opacity: 0;
    transform: translateY(1em);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in-out;
    transition-delay: 0.3s; 
    
    body.loaded & {
        opacity: 1;
        transform: translateY(0);
    }
}
